absl-py==2.2.2
aiobotocore==2.22.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aioitertools==0.12.0
aiosignal==1.3.1
anndata==0.11.4
anyio==4.9.0
appdirs==1.4.4
array_api_compat==1.9.1
asciitree==0.3.3
astroid==2.15.8
asttokens==2.0.5
async-lru==2.0.5
async-timeout==5.0.1
asyncio-atexit==1.0.1
attrs==24.2.0
bleach==6.2.0
bokeh==3.7.3
botocore==1.37.3
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
chex==0.1.89
click==8.1.7
cloudpickle==3.1.1
colorcet==3.1.0
comm==0.2.1
contourpy==1.3.0
cucim==23.10.0
cucim-cu12==25.4.0
cupy-cuda12x==13.3.0
cycler==0.12.1
Cython==3.0.11
dask==2024.11.2
dask-expr==1.1.19
dask-image==2024.5.3
datacache==1.4.1
datashader==0.18.1
debugpy==1.6.7
decorator==5.1.1
deepspot==1.0.0
Deprecated==1.2.18
dill==0.3.9
docrep==0.3.2
dominate==2.9.1
et_xmlfile==2.0.0
etils==1.12.2
exceptiongroup==1.2.0
executing==0.8.3
fasteners==0.19
fastrlock==0.8.2
filelock==3.13.1
flax==0.10.4
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.3.1
geojson==3.1.0
geopandas==1.0.1
GEOparse==2.0.4
googleapis-common-protos==1.69.2
grpcio==1.71.0
gtfparse==2.5.0
h11==0.14.0
h5py==3.10.0
holoviews==1.20.2
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.28.0
humanize==4.12.3
idna==3.6
igraph==0.11.5
imageio==2.35.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflect==7.5.0
inquirerpy==0.3.4
ipykernel==6.28.0
ipython==8.22.2
ipywidgets==8.1.5
isort==5.13.2
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.0
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
KDEpy==1.1.11
kiwisolver==1.4.7
kornia==0.7.3
kornia_rs==0.1.5
lazy_loader==0.4
lazy-object-proxy==1.10.0
legacy-api-wrap==1.4
libtiff==0.4.2
lightning==2.5.1.post0
lightning-utilities==0.14.3
linkify-it-py==2.0.3
llvmlite==0.43.0
locket==1.0.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.6
matplotlib-scalebar==0.9.0
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
memoized-property==1.0.3
mizani==0.13.5
ml_collections==1.1.0
ml_dtypes==0.5.1
mock==5.1.0
monai==1.3.0
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
mudata==0.3.1
multidict==6.1.0
multipledispatch==1.0.0
multiscale_spatial_image==2.0.2
narwhals==1.42.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numcodecs==0.13.1
numpy==1.26.4
numpyro==0.18.0
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
ome-zarr==0.11.1
omnipath==1.0.9
opencv-python==4.9.0.80
openpyxl==3.1.5
openslide-python==1.3.1
opentelemetry-api==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-exporter-otlp-proto-http==1.31.1
opentelemetry-instrumentation==0.52b1
opentelemetry-instrumentation-httpx==0.52b1
opentelemetry-instrumentation-requests==0.52b1
opentelemetry-instrumentation-threading==0.52b1
opentelemetry-instrumentation-urllib==0.52b1
opentelemetry-proto==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
opentelemetry-util-http==0.52b1
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.11.5
packaging==25.0
pandas==2.2.3
panel==1.7.1
param==2.2.0
parso==0.8.3
partd==1.4.2
patsy==0.5.6
pexpect==4.8.0
pfzy==0.3.4
pillow==11.2.1
PIMS==0.7
pip==24.2
pkgconfig==1.5.4
platformdirs==3.10.0
plotnine==0.15.0a2
polars==0.20.31
pooch==1.8.2
progressbar33==2.4
prompt-toolkit==3.0.43
propcache==0.2.0
protobuf==5.28.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pycparser==2.21
pyct==0.5.0
pyensembl==2.3.13
Pygments==2.15.1
pylint==2.17.7
pynndescent==0.5.13
pyogrio==0.11.0
pyparsing==3.1.4
pyproj==3.7.1
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.1.post0
pytz==2024.1
pyvips==2.2.2
pyviz_comms==3.0.4
PyWavelets==1.7.0
PyYAML==6.0.1
pyzmq==25.1.2
regex==2023.12.25
requests==2.31.0
rich==14.0.0
s3fs==2024.3.1
safetensors==0.4.2
scanpy==1.10.3
scikit-image==0.25.2
scikit-learn==1.4.1.post1
scikit-misc==0.5.1
scipy==1.15.3
SCTransform==0.0.1
scvi-tools==1.3.0
seaborn==0.13.2
serializable==0.4.1
session-info==1.0.0
setuptools==65.6.3
shapely==2.0.3
simplejson==3.19.3
six==1.16.0
slicerator==1.1.0
sniffio==1.3.1
sparse==0.16.0
spatial_image==1.2.1
spatialdata==0.4.0
squidpy==1.6.5
stack-data==0.2.0
statsmodels==0.14.4
stdlib-list==0.11.0
stereoscope==0.3
sympy==1.14.0
synapseclient==4.7.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorstore==0.1.74
texttable==1.7.0
threadpoolctl==3.4.0
tifffile==2024.9.20
timm==0.9.16
tinytimer==0.0.0
tokenizers==0.15.2
tomli==2.0.2
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.0
torch-geometric==2.6.1
torch-kmeans==0.2.0
torchmetrics==1.7.1
torchvision==0.22.0
tornado==6.4.1
tqdm==4.65.2
traitlets==5.14.2
transformers==4.39.0
treescope==0.1.9
triton==3.3.0
typechecks==0.1.0
typeguard==4.4.2
typing_extensions==4.10.0
tzdata==2024.1
uc-micro-py==1.0.3
umap-learn==0.5.7
uni==0.1.0
urllib3==1.26.20
validators==0.35.0
visdom==0.2.4
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.44.0
widgetsnbextension==4.0.13
wrapt==1.16.0
wsi-tile-cleanup==0.1.0
xarray==2024.11.0
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
xyzservices==2025.4.0
yarl==1.17.2
zarr==2.18.3
zipp==3.21.0
